.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.categories {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bg-holiday {
  background-color: lightgreen;
}

.bg-birthday {
  background-color: yellow;
}

.bg-busy {
  background-color: red;
}

.bg-anniversary {
  background-color: pink;
}

.square {
  display: inline-block;
  width: 15px;
  height: 10px;
}

.color-code {
  margin: 0 15px;
  font-size: 14px;
}
